ul {
    padding: 0;
    background: #f2f2f2;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 5px solid #000;
}
ul li {
    display: block;
    border-bottom: 5px solid #000;
    width: 20%;
    padding: 5px 0px;
}
ul li a {
    display: block;
    padding: 10px 0px;
    color: #333;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filename {
    color: red;
    font-size-adjust: 0.6;
}
.filename:hover {
    color: #fff;
    background: #939393;
}
.download-link {
    background: #cc0000;
    color: white;
}
.download-link:hover {
    color: #cc0000;
    background: white;
}
@media (max-width: 1250px){
    ul {
        flex-direction: column;
	text-size: 18px;
    }
    ul li {
        width: 100%;
    }
}
